body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #161618;
  color: white;
}

header {
  background-color: #212121;
  color: white;
  text-align: center;
  padding: 1em;
}

main {
  margin: 4em;
}

footer {
  background-color: #212121;
  color: white;
  text-align: center;
  padding: 1em;
}

label,
input[type="submit"] {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: #4caf50;
  color: black;
  border: none;
  padding: 20px; /* Remove fixed width */
  border-radius: 7px;
  width: 300px;
  height: 60px;
  cursor: pointer;
  align-self: flex-end;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}



/* Styles for form container */
#form-container {
  display: flex; /* Use flexbox layout */
  background-color: #161618;
  flex-direction: row; /* Display form elements side-by-side */
  justify-content: center; /* Center form elements horizontally */
  align-items: flex-start; /* Align form elements to top of container */
  gap: 40px; /* Add gap between form elements */
  padding: 20px;
}

#preview-image {
  display: flex;
  justify-content: end;
  margin: auto;
  max-width: 500px;
  border-radius: 5px;
  max-height: 500px;
  box-shadow: 10px 10px 5px #212121;
}

#preview-image:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
